#registerView {
    fieldset {
        border: none;
        legend {
            font-weight: bold;
        }
        div {
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            label {
                margin-left: 0.5rem;
            }
            input {
                border: none;
                border-bottom: 1px solid rgb(204, 39, 39);
                padding: 0.5rem;
            }
        }
    }

    .buttonsBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        input[type="submit"] {
            background-color: #f0f0f0;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            margin-right: 0.5rem;
            padding: 0.7rem;
        }

        #cancel {
            background-color: transparent;
            border: 2px solid #fadcfb;
            border-radius: 0.5rem;
            box-sizing: border-box;
            cursor: pointer;
            padding: 0.7rem;
            a {
                text-decoration: none;
                color: rgb(243, 0, 0);
            }
        }
    }
}
